# Node.js dependencies
node_modules/

# Uploads folder
public/uploads/

# Environment variables
.env

# Log files
*.log

# Build directories (frontend)
.next/
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/